<app-before-register #child style="display:none;"></app-before-register>
<section style="margin-top:50px ;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-5">
                <div class="card" style="border-radius: 1rem;border:2px dashed gray;">
                    <div class="row ">
                        <div class="col-lg-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-7 text-black">

                                <div *ngIf='errors' class="alert alert-danger m-2">
                                    {{errors}}
                                </div>
                                <div class="alert mt-2 alert-danger" *ngIf="RegisterInvalid">
                                    <p>
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        This username is Reserved !
                                    </p>
                                </div>
                                <form [formGroup]="registerform" >
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Create an account</span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <!-- ngModel [(ngModel)]="usermodel.email" -->
                                        <input type="text" formControlName="username"
                                            class="form-control form-control-lg" placeholder="Username " />
                                        <!-- //error alert -->
                                        <div class="alert mt-2 alert-danger" *ngIf="registerform.get('username')?.errors != null 
                                                && registerform.get('username')?.touched">
                                            <p *ngIf="registerform.get('username')?.errors?.['required'] "><i
                                                    class="fa-solid fa-circle-exclamation"></i> username is required</p>
                                            <p *ngIf="registerform.get('username')?.errors?.['pattern'] "><i
                                                    class="fa-solid fa-circle-exclamation"></i> username must contains
                                                one Capital and small characters</p>
                                        </div>
                                        <!-- <label class="form-label" for="form2Example17">Email address</label> -->
                                    </div>

                                    <!-- <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create An Account </h5> -->
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <input type="date" formControlName="bithDate"
                                            class="form-control form-control-lg" placeholder="BirthDate" />
                                        <div class="alert mt-2 alert-danger" *ngIf="registerform.get('bithDate')?.errors != null 
                                                && registerform.get('bithDate')?.touched">
                                            <p *ngIf="registerform.get('bithDate')?.errors?.['required'] "><i
                                                    class="fa-solid fa-circle-exclamation"></i> username is required</p>
                                        </div>
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="row">
                                        <div class="form-outline mb-4 col-lg-6">
                                            <select formControlName="gender" name="gender"
                                                style="border-radius: 25px;height: 50px;border:2px dashed rgb(184, 184, 184);font-weight: 500px;padding:5px ;">
                                                <option> Please choose one </option>
                                                <option value="0">
                                                    Male
                                                </option>
                                                <option value="1">
                                                    Female
                                                </option>
                                            </select>
                                        </div>
                                        <!-- ************************************************************************* -->
                                        <div class="dropdown mb-4 col-lg-6">
                                            <select formControlName="relative"
                                                style="border-radius: 25px;height: 50px;border:2px dashed #607D8B;font-weight: 500px;padding:5px ;">
                                                <option> Please choose one </option>
                                                <option value=0>Son</option>
                                                <option value=1>Daughter </option>
                                                <option value=2>Sibling</option>
                                                <option value=3>Descendants</option>
                                                <option value=4>Friend</option>
                                                <option value=5>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <input type="text" formControlName="country"
                                            class="form-control form-control-lg" placeholder="Country" />
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <input type="text" formControlName="city" class="form-control form-control-lg"
                                            placeholder="City" />
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <input type="text" formControlName="phoneNumber"
                                            class="form-control form-control-lg" placeholder="PhoneNumber" />
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <select formControlName="diseaselevel"
                                            style="border-radius: 25px;height: 50px;border:2px dashed rgb(184, 184, 184);font-weight:500px;padding:5px ;">
                                            <option> Please choose one </option>
                                            <option value="0">
                                                preclinical
                                            </option>
                                            <option value="1">
                                                mild_cognitive_impairment
                                            </option>
                                            <option value="2">
                                                mild_dementia
                                            </option>
                                            <option value="3">
                                                moderate_dementia
                                            </option>
                                            <option value="4">
                                                severe_dementia
                                            </option>
                                        </select>
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <input type="text" formControlName="nationalId"
                                            class="form-control form-control-lg" placeholder="National Id" />
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4 ">
                                        <textarea formControlName="deseasDiscription"
                                            style="width:100% ;border-radius: 15px;border:1px dashed rgb(184, 184, 184);padding:5px ;"
                                            placeholder="Disease Discription"></textarea>
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <!-- ngModel [(ngModel)]="usermodel.email" -->
                                        <input type="email" formControlName="email" class="form-control form-control-lg"
                                            placeholder="Email address" />
                                        <!-- //error alert -->
                                        <div style="height: 50px;" class="alert mt-2 alert-danger" *ngIf="registerform.get('email')?.errors != null 
                    && registerform.get('email')?.touched">
                                            <p *ngIf="registerform.get('email')?.errors?.['required'] "><i
                                                    class="fa-solid fa-circle-exclamation"></i> email is required</p>
                                            <!-- <p *ngIf="registerform.get('email')?.errors?.['pattern'] "><i class="fa-solid fa-circle-exclamation"></i> email must contains @ </p> -->
                                            <!-- <p>email must contians @</p> -->
                                        </div>
                                        <!-- <label class="form-label" for="form2Example17">Email address</label> -->
                                    </div>
                                    <!-- ************************************************************************* -->
                                    <div class="form-outline mb-4">
                                        <!-- [(ngModel)]="usermodel.password" ngModel -->
                                        <input type="password" formControlName="password"
                                            class="form-control form-control-lg" placeholder="Password" />
                                        <div style="height: 50px;" class="alert mt-2 alert-danger" *ngIf="registerform.get('password')?.errors != null 
                    && registerform.get('password')?.touched">
                                            <p *ngIf="registerform.get('password')?.errors?.['required'] "><i
                                                    class="fa-solid fa-circle-exclamation"></i> password is required</p>
                                            <p *ngIf="registerform.get('password')?.errors?.['minlength']"><i
                                                    class="fa-solid fa-circle-exclamation"></i> password must be at
                                                least 8 characters.</p>

                                        </div>
                                    </div>

                                    <!-- ************************************************************ -->
                                    <input type="file" formControlName="image" class="form-control mb-2" id="formFile"
                                        (change)="onSelectFile($event)" />
                                    <!-- ************************************************************ -->

                                    <div class=" mb-4">
                                        <button [disabled]="registerform.invalid" class="btn btn-lg btn-block"
                                            data-mdb-toggle="modal" data-mdb-target="#exampleModal" type="button"
                                            (click)="onUpload(registerform)"
                                            style="color: white;background-color:#607D8B;width:100% ;">
                                            SignUp
                                        </button>
                                    </div>

                                    <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                                    <p class="mb-5 pb-lg-2" style="color: #5760c0">
                                        Have already an account?
                                        <a [routerLink]="['/Login']" style="color: #393f81">Login here</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>