<section style="margin-top: 50px;display: flex;justify-content: center;">
<div class="game-board">
    <div [ngClass]="card.flipped ? 'flipped' : 'card'" *ngFor="let card of cards; index as i" (click)="flipCard(i)">
      <div [ngClass]="card.flipped ? 'front-flipped' : 'front'" *ngIf="card.flipped && !card.matched" [ngStyle]="{'background-color': card.color}"></div>
      <div class="back" *ngIf="!card.flipped"></div>
    </div>
     <!-- <div *ngIf="countMatched == 8">GAME OVER!</div> -->
    <div *ngIf="countMatched > 8" style="font-weight: bold;font-size: 30px;color: green;">Winner !!!</div>
  </div>
</section>