<div class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Try Again !</h1>
        <img src="../../assets/refresh.png" class="w-25 h-25" alt="" >
        <p>You have added incorrect information,<br> Please <a [routerLink]="['/BeforeRegister']" style="color:#607D8B;" routerLinkActive="router-link-active" >register </a> again ..</p>
        <!-- <p>you should receive a confirmation email soon  </p> -->
        <!-- <button class="go-home" [routerLink]="['/HomePage']" routerLinkActive="router-link-active" >
        go home
        </button> -->
      </div>
      <!-- <div class="footer-like">
        <p>Email not received?
         <a href="#">Click here to send again</a>
        </p>
      </div> -->
  </div>
  </div>
  
  
  
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">