<div class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Wait !</h1>
        <img src="../../assets/clock.png" class="w-25 h-25" alt="" >
        <p>You're still appended, until we can review your documents</p>
        <a [routerLink]="['/HomePage']" routerLinkActive="router-link-active" style="color:#607D8B;">Go To Home</a>
        <!-- <button class="go-home" [routerLink]="['/HomePage']" routerLinkActive="router-link-active" >
        go home
        </button> -->
      </div>
      <!-- <div class="footer-like">
        <p>Email not received?
         <a href="#">Click here to send again</a>
        </p>
      </div> -->
  </div>
  </div>
  
  
  
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">